<section>
	<div class="row">
		<div class="small-12 columns">
			<h2>Mac Daddy's Food Truck</h2>
		</div>
	</div>
</section>

<section>
	<div class="row">
		<div class="small-12 columns">
			<h3>Menu</h3>
			
			<ul class="tabs" data-tab>
				<li {{bind-attr class=":tab-title openOrders:active"}} {{action 'switchTab'}}><a>{{open.length}} Open</a></li>
				<li {{bind-attr class=":tab-title openOrders::active"}} {{action 'switchTab'}}><a>{{closed.length}} Closed</a></li>
			</ul>
			<div class="tabs-content">
				{{#if openOrders}}
					{{#each open as |order|}}
						<div class="row">
							<div class="small-8 columns">
								<h4>{{order.itemName}}</h4>
								<p>{{order.createdAt}}</p>
								<p>Customer: {{order.customerName}}</p>
							</div>
							<div class="small-4 columns">
								<h4>${{order.price}}</h4>
								<button class="button radius">Close</button>
							</div>
						</div>
					{{/each}}
				{{else}}
					{{#each closed as |order|}}
						<div class="row">
							<div class="small-8 columns">
								<h4>{{order.itemName}}</h4>
								<p>{{order.createdAt}}</p>
								<p>Customer: {{order.customerName}}</p>
							</div>
							<div class="small-4 columns">
								<h4>${{order.price}}</h4>
								<button class="button radius disabled">Closed</button>
							</div>
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</section>